# API Configuration
# URL бэкенд API (без trailing slash)
NEXT_PUBLIC_API_URL=http://localhost:8080

# API Secret для аутентификации запросов
# Должен совпадать с секретом на бэкенде
NEXT_PUBLIC_API_SECRET=your_api_secret_here

# Флаг мокирования авторизации телеграма
# ТОЛЬКО ДЛЯ ЛОКАЛЬНОЙ СБОРКИ
NEXT_PUBLIC_SKIP_TELEGRAM_AUTH=false

# Токен тестового бота для мокирования авторизации телеграма
# Должен совпадать с токеном на бекенде
# ТОЛЬКО ДЛЯ ЛОКАЛЬНОЙ СБОРКИ 
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=123456:TEST_TOKEN