@import "tailwindcss";

:root {
  --background: #101921;
  --foreground: #F6F6F6;
  --primary: #43352C;
  --secondary: rgb(43 140 238 / 1);
  --non-active: #A29680;
  --unwanted: #D43D2C;
  --chip-bg: #D9CDB9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-humakingfilm: var(--font-humakingfilm);
  --font-jakarta: var(--font-jakarta);
  /* --font-roboto: var(--font-roboto); */
  --color-non-active: var(--non-active);
  --color-unwanted: var(--unwanted);
  --color-chip-bg: var(--chip-bg);
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #F3E8D2; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  height: var(--tg-full-height);
  overflow-x: hidden;
}
